/**/
*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
}

/**/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/**/
.app-quote {
  width: 80%;
  height: 70%;
  top: 20%;
  left: 150px;
  right: 0;
  position: absolute;
  color: white;
  font-size: 25px;
  font: serif;
}

/**/
.overlay {
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  position: relative;
  top: 0;
}

/**/
.content {
  background-image: url("new_images/lagos-3.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
}

/**/
#myHeader {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 40px;
} 

/**/
.menu ul {
  display: inline-flex;
  margin: 20px;
}

/**/
.menu li {
  list-style: none;
  margin: 0 10px;
  color:black;
  cursor: pointer;
}

/**/
.gallery {
  top: 20px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/**/
.gallery span {
  display: block;
  padding: 8px 22px;
}

/**/
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 150px;
}

/**/
.image_block {
  height: 80%;
  top: 80%;
  left: 230px;
  right: 0;
  position: absolute;
}

/**/
.about_me {
  height: 80%;
  top: 0;
  left: 50px;
  right: 0;
  color: black;
  position: absolute;
  font-size: 15px;
  font: serif;
}

/**/
.about_me2 {
  font-size:18px;
  text-align: center;
  font-family: Times;
}

/**/
.image_discription {
  height: 80%;
  top: 560px;
  left: 20px;
  right: 0;
  color: grey;
  position: absolute;
  font-size: 20px;
  font: times;
  text-align: center;
}

/**/
.socials {
  height: 100%;
  top: 125%;
  left: 50px;
  right: 0;
  color: black;
  position: absolute;
  font-size: 15px;
  font: serif;
}

/**/
.container {
  margin-top: 20px;
  background:#42455a;
}

/**/
.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/**/
.image-thumbnails img {
  margin: 10px;
  max-height: 150px;
  max-width: 150px;
}

/**/
.image-thumbnails img:hover {
  border: thick solid black;
}

/**/
.about-me-text {
  width: 100%;
  height: 100%;
  top: 25%;
  left: 50px;
  right: 0;
  color:grey;
  position: relative;
  font-size: 20px;
  font: serif;
  text-align : center;
}

/**/
#project_body { 
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/**/
#random-image-container img {
  margin-top: 20px;
}

/**/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}

/**/
#comment{
  height:25px;
  font-size:10pt;
}

.comment_id span {
  flex-grow: 1;
}

.comment_id {
  border: thin solid grey;
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

/**/
#map {
  position: absolute;
  border: thin solid black;
  height: 250px;
  width: 250px;
  top: 50%;
  left: 80%;
  right: 0;
  
}
